# =========================================================
# IDE
# =========================================================

.idea/
.vscode/
*.iml
*.ipr
*.iws

.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/


# =========================================================
# JAVA / MAVEN
# =========================================================

**/target/
*.class
*.jar

# Keep Maven Wrapper JAR if needed
!**/.mvn/wrapper/maven-wrapper.jar


# =========================================================
# ANGULAR / NODE
# =========================================================

**/node_modules/
**/.angular/
**/dist/
**/coverage/


# =========================================================
# SECRETS / ENVIRONMENT
# =========================================================

.env
.env.*
*.env

application-secret.properties
application-local.properties

# =========================================================
# TEMP / BACKUP
# =========================================================

*.bak
*.tmp
*.swp
*~
.DS_Store


# =========================================================
# LOGS
# =========================================================

*.log
